body {
  background-image: url(https://images.unsplash.com/photo-1558018754-1f1b019ece9d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8d2lzaHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&q=60);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  background-position: center;
}

.app {
  background:rgba(255,255,255,.7);
  min-height: 80vh;
  width: 400px;
  margin: 20px auto;
}

.container {
  display: flex;
  justify-content: center;
  padding: 10px;
}

h1 {
  color: rgb(72, 69, 69);
  margin-top: 50px;
  font-family: 'Rubik Gemstones', cursive;
}

.crossed {
  text-decoration: line-through 1px red;
  background-color: rgb(242, 240, 240);
}

ul, li {
  list-style-type: none;
  padding: 10px;
  margin: 0;
  font-family: 'Rubik', sans-serif;
  color:  rgb(72, 69, 69);
  text-transform: uppercase;
}

input {
  font-family: 'Rubik', sans-serif;
  padding: 7px;
}

.btn-add {

  background: #888043;
  margin-top: 5px;
}

.btn-delete {
  background: #aa2828;
  margin-bottom: 5px;
}



.btn {
padding: 10px;
border: none;
width: 70%;
color: white;
font-size: 16px;
font-family: 'Rubik', sans-serif;
}


